<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/highlight.css">
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/download">Download</a></li>
        		<li><a href="/doc">Documentation</a></li>
			<li><a href="/cont">Contributing</a></li>
			<li><a href="/cite">Citing</a></li>
        		<li><a href="/news">News</a></li>		
    		</ul>
		</nav>
		<hr>
		<div class="container">

                {{ content }} 



		</div><!-- /.container -->
		<hr>
		<footer>
    		<ul>
        		<li><a href="">email</a></li>
        		<li><a href="">github.com/</a></li>
			</ul>
		</footer>
	</body>
</html>
